@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Animated gradient background */
@keyframes gradient-x {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 6s ease infinite;
}


/* Typewriter effect */
.typewriter {
  display: inline-block;
  overflow: hidden;
  border-right: .15em solid #fbbf24; /* Yellow cursor */
  white-space: nowrap;
  animation: typing 6s steps(30, end), blink .8s infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  from, to { border-color: transparent }
  50% { border-color: #fbbf24; }
}
